body{
	margin: 0;
	padding: 0;
	background-color: #63e1f0;
}
.redessociales i{
	font-size: 27px;
	color: black;
	padding-right: 5px;
}
#logo, #redes{
	display: inline-block;
}
header{
	position: relative;
	background-color: #07e8ab;
	padding-top: 15px;
	box-shadow: 3px 3px 5px #05a3a5;
	border-bottom: 1px dashed black;
}
#logo{
	margin-left: 40px;
	margin-bottom: 10px;
}
#logo img{
	max-width: 90%;
	height: auto;
}
h2.nombre{
	display: block;
	background-color: #fe5af4;
	border-bottom: 1px dashed black;
}
span.light{
	font-weight: 400;
}
#redes{
	position: absolute;
	top: 33px;
	right: 40px;
}
.redessociales i:hover{
	color: #f31ad2;
}
h1{
	text-transform: uppercase;
	font-family: 'Hind', sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	display: block;
}
ul.paginas{
	margin-left: 0;
	padding-left: 0;
}
#navegacion{
	width: auto;
	height: auto;
	position: fixed;
	margin-top: 50px;
}
#navegacion ul li{
	list-style-type: none;
	padding: 10px;
	text-transform: uppercase;
	border-bottom: 1px dashed black;
	font-family: 'Hind', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	color: black;
	margin-left: 35px;
}
#navegacion ul li:first-child{
	border-top: 1px dashed black;
	}
#navegacion ul li a{
	text-decoration: none;
	display: inline-block;
	color: black;
}
#navegacion ul li:hover{
	background-color: #08ca95; 
    transition: 1s;
    -webkit-transition: 1s;
}
#navegacion ul li i:hover{
	color: #f31ad2;
}

.paginas i{
	font-size: 24px;
	color: black;
	padding-right: 8px;
}
.trabajos article{
	width: 48%;
	height: auto;
	display: inline-block;
	padding: 5px;
}
div#main{
	width: 93%;
	margin: 0 auto;
	margin-left: 10%;
	padding-top: 50px;
}
section.trabajos{
	padding-bottom: 30px;
	background-color: yellow;
	margin: 0 auto;
	width: 88%;
}
section.trabajos article{
	max-width: 50%;
}
section.trabajos article img{
	max-width: 100%;
	border: 1px dashed black;
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
section.trabajos article img:hover{
	max-width: 100%;
	border: 1px dashed black;
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.footer i{
	color: #f31ad2;
}
#grafica{
	margin-top: 0;
}
#publicidad, #contacto{
	text-align: left;
}
.grupoimagenes{
	text-align: center;
}
#main div{
	border-bottom: 1px dashed black;
	padding-bottom: 30px;
}
#sobremi{
	background-color: cyan;
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

#sobremi h1{
	text-align: left;
	display: block;
}
.mifoto img{
	border: 1px dashed black;
}
h2{
	text-transform: uppercase;
	font-family: 'Hind', sans-serif;
	font-size: 1em;
	font-weight: 700;
	display: block;
}
#sobremi p{
	font-family: 'Hind', sans-serif;
	text-transform: normal;
	font-weight: 400;
}

/*Formulario*/
		
label{
	font-family: 'Hind', sans-serif; 
	font-weight: 400; 
	font-style: italic; 
	font-size: 14px; 
	color: black; 
	display:block; 
	margin:5% auto 1% auto;
}
input{
	padding:3px; 
	width:100%; 
	height:36px; 
	display:block; 
	margin:0; 
	line-height: 38px;
}
#acepto{
	margin: 0 auto; 
	width: 50%; 
	padding-top: 3%; 
	display: block;
}
input#btn1.boton{
	margin-top:50px; 
	margin-bottom:20px;
	background-color: #ff00f0;
	color: white;
	height: 50px;
	font-family: 'Hind',sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
}
footer{
	background-color: black; 
	color: white;
	border-top: 1px dashed black;
	height: 60px;
	width: 100%;
	display: block;
	bottom: 0 !important;
	margin-top: 50px;
}
p.footer{
	font-family: 'Hind', sans-serif;
	font-weight: 400;
	text-align: center;
}
form[name="formulariodigital"]{
	padding-bottom: 30px;
}
input[type="textarea"]{
	height: 100px;
}


@media (max-width: 990px){
	#navegacion ul li{margin-left:0; padding-left: 20px;}
}	
@media (max-width: 900px){
	section.trabajos{width:90%; margin: 0 0 0 1%; padding: 0;}
	section.trabajos article{max-width: 100%;}
	div.grupoimagenes article{margin: 0; padding: 5px; width: 90%;}
	form{width: 80%; margin: 0 auto;}
	span.ocultar{display: none;}
	nav#navegacion{margin-top: 46px;}
	#navegacion ul li{border: 0; background-color: #fe5af4;margin: 0; padding: 10px 0 10px 10px;}
	#navegacion ul li:first-child{border:0;}
}
@media (max-width: 400px){
	section.trabajos{margin: 0 0 0 2%;}
}
@media (max-width: 370px){
	section.trabajos{margin: 0 0 0 5%;}
}